book_of_john_words.png
book_of_john.py
nyc_trends.py
retail_space_original.csv
retail_space.csv
school_data.json
book_of_John_text.txt
info_security.txt
retail_space_original.csv
retail_space.csv
school_data.json
sometext.txt